# Supabase
SUPABASE_URL=https://project-id.supabase.co
SUPABASE_SECRET_KEY=supabase_secret_key

# Google OAuth
GOOGLE_CLIENT_ID=google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google_client_secret

# Gmail API 
GMAIL_REFRESH_TOKEN=gmail_refresh_token
GMAIL_SENDER_EMAIL=sender_email@gmail.com

# JWT
JWT_SECRET=random_jwt_secret

# Frontend URL
FRONTEND_URL=http://localhost:3000